.react-calendar-timeline .rct-sidebar .rct-sidebar-header {
    background: #b48456;
}

.react-calendar-timeline .rct-header .rct-label-group {
    background: #b48456;
}

.react-calendar-timeline .rct-items .rct-item.selected{
    background: rgba(33, 163, 255, 0.42);
    border: 1px solid #1A6FB3;
}

.react-calendar-timeline .rct-items .rct-item.lesson-suspend {
    background: rgba(255, 67, 26, 0.81);
    border: 1px solid #ff0509;
}

.react-calendar-timeline .rct-items .rct-item.selected.lesson-suspend {
    background: rgba(255, 67, 26, 0.38);
    border: 1px solid #ff0509;
}

.react-calendar-timeline .rct-items .rct-item.lesson-done {
    background: rgba(53, 138, 14, 0.81);
    border: 1px solid rgba(25, 73, 5, 0.81);
}

.react-calendar-timeline .rct-items .rct-item.selected.lesson-done {
    background: rgba(86, 255, 16, 0.26);
    border: 1px solid rgba(45, 106, 23, 0.96);
}

.react-calendar-timeline .rct-items .rct-item.present {
    background: rgb(223, 82, 255);
    border: 1px solid rgb(107, 27, 92);
}

.react-calendar-timeline .rct-items .rct-item.selected.present {
    background: rgba(223, 82, 255, 0.26);
    border: 1px solid rgba(50, 17, 59, 0.81);
}